.blue-hover {
  transition: 0.2s;
}
.blue-hover:hover {
  background-color: rgba(32, 80, 184, 0.205);
  border: 1px solid #2160c4;
  box-shadow: 2px 2px #2160c4;
}

.button {
  transition: 0.3s;
}

.error-input {
  background-color: #ffb6c6 !important;
}
